body {
	background-color: DarkGreen;
}

.hidden {
	display: none;
}

.container {
	height: 90%;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.block {
	display: inline-block;
	width: 100%;
}

.category {
	background-color: DarkRed;
	border: 1px;
	color: white;
	margin: 20px 0px;
	padding: 15px 0px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 4px;
}