body {
	background-color: DarkGreen;
}

.hidden {
	display: none;
}

.container {
	height: 900px;
	width: 1800px;
	margin-left: auto;
	margin-right: auto;
}

.block {
	display: inline-block;
	width: 100%;
}

.category {
	display: inline-block;
	background-color: DarkRed;
	border: 1px;
	border-color: black;
	color: white;
	width: 25%;
	height: 35%;
	margin: 20px 20px;
	padding: 10px;
}

.beerDiv {
	display: inline-block;
    margin: 5px;
    width: 50%;
}

h1 {
	color: white;
}

h2 {
	height: 10%;
	margin: 0px;
}

h3 {
	font-size: 50%;
	margin: 0px;
}

p {
	margin: 0px;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style-position: inside;
	list-style-type: none;
}

li {
	display: inline-block;
    margin: 5px;
    width: 50%;
    height: 45%;
}