<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>So-So Beery Christmas</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="../static/js/jquery-1.11.3.min.js" th:src="@{~/static/js/jquery-1.11.3.min.js}"></script>

<script type="text/javascript" th:inline="javascript" th:src="@{~/static/js/draught.js}"></script>

<link id="draughtStyle" rel="stylesheet" href="../static/css/draught.css" th:href="@{~/static/css/draught.css}" type="text/css" />

</head>

<body>
</body>

</html>