<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>So-So Beery Christmas</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../static/css/main.css" rel="stylesheet" th:href="@{~/static/css/main.css}" type="text/css" />

</head>

<body>
	<div class="container">
		<h1 class="block" th:text="${context.request().getParam('beer')}">Beer name not found</h1>
		<a class="button block" th:href="@{~/ratings/add/{beer}/1(beer=${beer})}">1</a>
		<a class="button block" th:href="@{~/ratings/add/{beer}/2(beer=${beer})}">2</a>
		<a class="button block" th:href="@{~/ratings/add/{beer}/3(beer=${beer})}">3</a>
		<a class="button block" th:href="@{~/ratings/add/{beer}/4(beer=${beer})}">4</a>
		<a class="button block" th:href="@{~/ratings/add/{beer}/5(beer=${beer})}">5</a>
	</div>
</body>

</html>